<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20代の転機</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <main class="main_container">
        <div class="title">
            <div class="subTitle">メディアデザイン演習</div>
            <div class="mainTitle">「20代の転機」</div>
        </div>
        <div class="content" style="color: rgba(255, 255, 255, 0.55);">
            「このサイトでは、40歳の方が20歳の頃に経験した人生の転機について語ります。当時の思いや現在への影響を振り返り、未来を考えるきっかけを提供します。」
        </div>
        <div class="next-section">
            <div class="next" onclick="location.href='./story.html'">「見る」</div>
            <div class="divider-line"></div>
            <div class="circle"></div>
        </div>
    </main>
</body>

</html>